@media screen and (max-width:1024px) {
   .call{ 
        margin-top: - 51px;
        float: right;
        text-align: right;
        font-size: 2px;
    }
    
    .breadcrumb{
        margin-left: 40px
    }
    
    .bts{
        margin-left: -12px;
    }
    .gbt{
        font-size: 12px;
    }
    .bwrd{
       display: none;
    }
   .brt{
        width: 130px;
        font-size: 10px;
  
   }
  .fa-circle{
     font-size: 5px;
   }
  .hed{
      font-size: 17px;
      margin-left: 0px;
   }
  .bigbt{
        margin-left: 0px;
        font-weight: 400; 
        margin-top: 0px;
        font-size: 10px;
    }
    .hpr{
        margin-left: 0px;
        margin-top: 10px;
        font-size: 12px;
    }
    .box{
       margin-left: -25px;
  
    }
    .cd1{
        margin-top: 0px;
        margin-left: 35px;
       
        width: 100%;
      
    }
    .rlft{
       margin-left: 25px;}
    .rddd{
        margin-left: 25px;
    }
    .rd{
      
     margin-top: 0px;
        margin-left: 0px;
        
    }
    .rad{
      
        width: 50px;
        height: auto;
        margin-left: 0px;
        padding: 2px;
       border-style: line;
    }

    
    
    .cd2{
     
        width: 100%;
        border-left-style:none;
        
     
    }
    
    .cd3{

        border-left-style:none;
        width: 100%;
     padding: 5px;
    
    
    }
    .icon{
        font-size: 14px;
    }
    #fname{
        padding: 1px;
           border: none;
           width:100px;
       }
 #db{
        width:100%;
        border: none;
        color:  rgb(161, 161, 161);
    }


    .fbox{
       margin-top: 0px;
       margin-left: 15px;
       padding-left: 1px;
       height: 45px;
       font-size: 12px;
       width: 75%;
       border: 1px solid gray;
    }
    .lbox{
        margin-left: 15px;
    }
    .qbt{
        margin-left: 24px;
        margin-top: 0px;
        background-color:rgb(24, 245, 124);
        font-size: 10px; 
    }
    
    .whap{
        color: rgb(13, 209, 111);
        font-weight: bold;
        font-size: 15px;
    }
    .wht{
        padding: 5px;
    }
    .whht{
        font-size: 10px;
    }
   
    .fcd{
        padding: 5px;
    }
    .fcdr{
       float: right;
       width:75%;
       clear: both;
       font-size: 12px;

    }
    .ccrd{
        width: auto;
        padding: auto;
        height: auto;
    }
    .cda{
        padding: 1px;
        font-weight: bold;
        font-size: 20px;
    }
    .cdaa{
        border-bottom-style: none;
    }
 
    .fimg{
        
        width: 100%;
        height: auto;
        margin-left: 0px;
    }
    .about{
        font-size: 22px;
       margin-top: 0px;
        font-weight: bolder;
        color: rgb(4, 152, 221);
    }
    .fcd2{
        width: 270px;
        
    border-left-style: none;
    border-top-style: none;
       
    }
    .fabt{
        margin-left: 0px;
    }
    .abp{
        color: rgb(4, 152, 221);
        width:250px;
        font-size: 14px;
    }
    .ic{
        color: #000;
        margin-left: 10px;
        font-size: 35px;
        text-align: center;
    }
    .lis{
        color: rgb(4, 152, 221);
        width: 100%;
        list-style: none;
        height: auto;
        margin-top: 2px;
        margin-left: 30px;
      
    }
    .lts{
        margin-top: 10px;
        text-align: left;
      
      
        
    }
}
@media screen and (max-width:500px) {

.abp{
        color: rgb(4, 152, 221);
        width: 100%;
        font-size: 15px;
    }
    .cdaa{
        padding: auto;
        border-color: gray;
     
    }
    .ftrr{
        margin-left: 10px;
        margin-top: 50px;
       }
       .fcd1{
        width: 100%;
      margin-left: 10px;
      margin-top: 0px;
      height: auto;
    }
    .fcd2{
        margin-left: 0px;
        width: 100%;
        height: auto;
    border-left-style: none;
    border-top-style: dashed;
       
    }
    .pay{
        margin-top: 4px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 30px;
         border-color: gray;
        border-bottom-style: dashed;
        border-top-style: dashed;
    
    }
    .plog{
        width: 100px;
        height: 50px;
        margin-left: 8px;
        margin-top: 15px;
    }
    .vas{
        margin-top: 15px;
        margin-left: 8px;
        width: 100px;
        height: 50px;
    }
    .secur{
        margin-right: 0px;
        margin-top: 0px;
    }
    .sec{
        font-size: 25px;
    }
    .rlg{
        width: 100px;
        height: 50px;
        margin-top: -35px;
        
        float: right;
        text-align: right;
    }
}
